
/* sortable */
.sortable {
  background: #485460;
  min-height: 150px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.sortable__list {
  display: flex;
  padding: 20px;
}

.sortable__item {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  border: 1px dashed transparent;
}


.sortable__item:first-child {
  margin-left: 0;
}

.hidden {
  opacity: 0;
  margin-right: -172px;
}

.sortable__pic {
  max-width: 100%;
  max-height: 100%;;
  display: block;
}

.placeholder {
  width: 150px;
  height: 150px;
  border-color: #00d8d6;
  border-radius: 5px;
}
