body, html {
  height: 100%;
}

body {
  text-align: center;
  background: #c8d6e5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrap {
	width: 500px;
	height: 400px;
	border: 3px dashed #2C3A47;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  margin-top: 100px;
}

#block {
	width: 50px;
	height: 50px;
	background: #FC427B;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#block:hover {
  cursor: move;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* drag images */

.wrap {
  text-align: left;
  margin: 50px 10%;
}

.images {
  min-height: 150px;
  margin-bottom: 20px;
}

.images__list {
  display: flex;
}

.images__item {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.images__pic {
  max-width: 100%;
  max-height: 100%;
}

.dropzone {
  flex: 1;
  padding: 10px;
  background: #10ac84;
  border-radius: 10px;
  min-height: 150px;
  transition: .3s;
}

.active {
  background: #ff9f43;
}

.drop-list__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border: 1px dashed transparent;
}

.drop-list__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* sortable */
.sortable {
  background: #485460;
  min-height: 150px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.sortable__list {
  display: flex;
  padding: 20px;
}

.sortable__item {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  border: 1px dashed transparent;
}


.sortable__item:first-child {
  margin-left: 0;
}

.hidden {
  opacity: 0;
  margin-right: -170px;
}

.sortable__pic {
  max-width: 100%;
  max-height: 100%;;
  display: block;
}

.placeholder {
  width: 150px;
  height: 150px;
  border-color: #00d8d6;
  border-radius: 5px;
}
